{% extends "base.html" %}

{% block content %}
            <div class="row">
      <!-- Left col -->
        <div class="col-md-12">
            <div class="box-header with-border">
              <h3 class="box-title">授权主机修改</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <input type="hidden" id='upid' data= "{{ named.id }}"   name="id"><!--update need id-->
                <form   method="post"     class="form-horizontal Updatezone">
                     {%  csrf_token %}
                    <div class="hr-line-dashed"></div>

							<div class="form-group">
								<label for="zone" class="col-sm-2 control-label">根域<span class="red-fonts">*</span></label>
								<div class="col-sm-8">
									<input id="zoned" value="{{named.zone}}" name="zone" placeholder="google.com" type="text" class="form-control" readonly="">
								</div>
							</div><!--域-->
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label for="client" class="col-sm-2 control-label">授权主机<span class="red-fonts">*</span></label>
								<div class="col-sm-8">
									<input id="client"   value="{{named.client}}" name="client"   placeholder="client" class="form-control">
								</div>
							</div><!--记录值-->

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button id="delete_button" class="btn btn-danger">删除</button>
                            <button id="submit_button" class="btn btn-primary" type="submit">更新</button>
                        </div>
                    </div>
             </form>
    </div>
    <!-- /.body -->

</div>
<!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}

{%  block js %}

/*删除*/

$("#delete_button").on('click',function(){
    if(confirm("是否确认删除？")){
        $.ajax({
            url:"",
            type: "DELETE",
            success: function(res){
            console.log(res)
            if (res.code == 0) {
		    swal({
			 "title": "删除",
			 "text": res.result,
			 "type": "success"
		    }, function () {
			 setTimeout(function () {
			   window.location.href="{% url 'rbac_list' %}";
			 }, 50);
		     })
		}else{
			swal("操作失败", res.errmsg, "error")
		     }
	   }
        })

    }  // end confirm
     return false
})

{% endblock %}

